@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

#banner-image {
  background-image: url("../../public/material-finder-images/Serene Modernist Haven.png");
  background-size: cover;
  background-position: center;
}


#popular-1 {
  background-image: url("../../public/popular-1.jpg");
  background-size: cover;
  background-position: center;
}

#popular-2 {
  background-image: url("../../public/popular-2.jpg");
  background-size: cover;
  background-position: center;
}

#popular-3 {
  background-image: url("../../public/material-finder-images/Frame 86.png");
  background-size: cover;
  background-position: center;
}

#popular-4 {
  background-image: url("../../public/popular-4.jpg");
  background-size: cover;
  background-position: center;
}

#popular-5 {
  background-image: url("../../public/material-finder-images/Frame 90.png");
  background-size: cover;
  background-position: center;
}

.mask1 {
  -webkit-mask-image: url("../../public/union.png");
  mask-image: url("../../public/union.png");
  mask-repeat: no-repeat;
  mask-size: contain;
}

#modern-minimalist-view-materials {
  background-image: url("../../public/material-finder-images/Frame 41022.png");
  background-size: cover;
  background-position: center;
}


#made-with-dsource-1 {
  background-image: url("../../public/material-finder-images/DS 001.png");
  background-size: cover;
  background-position: center;
}

#made-with-dsource-2 {
  background-image: url("../../public/material-finder-images/DS 006.png");
  background-size: cover;
  background-position: center;
}

#made-with-dsource-3 {
  background-image: url("../../public/material-finder-images/Frame 99.png");
  background-size: cover;
  background-position: center;
}

#made-with-dsource-4 {
  background-image: url("../../public/material-finder-images/Frame 96.png");
  background-size: cover;
  background-position: center;
}

#made-with-dsource-5 {
  background-image: url("../../public/made-5.jpg");
  background-size: cover;
  background-position: center;
}

#made-with-dsource-6 {
  background-image: url("../../public/made-6.avif");
  background-size: cover;
  background-position: center;
}

#made-with-dsource-7 {
  background-image: url("../../public/made-7.avif");
  background-size: cover;
  background-position: center;
}

#footer {
  background-image: url("../../public/material-finder-images/section.png");
  background-size: cover;
  background-position: center;
}

#ai-material-finder-image {
  background-image: url("../../public/ai-material-finder.avif");
  background-size: cover;
  background-position: center;
}

/* Hide scrollbar for webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
